<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Настройки подключения к PostgreSQL -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/userdb</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">1234</property>

        <!-- Диалект PostgreSQL -->
        <!--        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>-->

        <!-- Автоматическое создание/обновление схемы (для разработки) -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Показывать SQL в логах -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Настройка пула соединений (Hibernate использует свой внутренний) -->
        <property name="hibernate.connection.pool_size">5</property>

        <!-- Транзакции -->
        <property name="hibernate.current_session_context_class">thread</property>
    </session-factory>
</hibernate-configuration>